* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: white;
  background-color: #8B4513;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}
 

/* iPAD, TABLETS SCREENS*/

@media (min-width: 786px) {
  body{
    background-color:#000080;
  }

  h1 {
    text-align: center;
    margin-block-end: 20px;
  }
  .counter-value{
    margin-block-start: 2px;
    color: #af6627;
  }

  .counter-container {
    width: 50%;
    height: 70%;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ADD8E6;
    box-shadow: 0 0 5px rgba( 0, 128, 0, 1);
  }

  .counter-button {
    width: 100px;
    margin-block-start: 30px;
    font-size: 16px;
    background-color:#4169E1;
    color: #FFD700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input{
    position: relative;
    top: 20px;
    background-color: white;
    border: none;
  } 
  .update{
    margin-block-start: 40px;
    width: 50%;
  }
  .counter-button:hover {
    background-color:#FFD700;
    color: #4169E1;
  }
} 



