* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: white;
  background-color: #8B4513;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}
 .counter-container {
    height: 70%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #90EE90;
    box-shadow: 0 0 5px rgba( 0, 128, 0, 1);
  }
/* PHONES SCREENS*/

/* @media only screen and (min-width: 320px) and (max-width: 480px) {

  body{
    background: #006400;
    color: white;
    height:100%;
  }

  h1 {
    font-weight: 800;
    font-size: 20px;
    margin-block-end: 20px;
  }
 
  
.counter-value {
  font-size: 20px;
  font-weight: bold;
  color:#800000;
  width: 250px;
  margin-top: -5px;
}

.counter-button {
  width: 100px;
  margin:15px 10px;
  font-size: 16px;
  background-color:#008000;
  color: #800000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input{
  position: relative;
  top: 20px;
  background-color: white;
  padding:2px;
  border: none;
}

.reset{
  margin-block-start: 10px;
}
.update{
  margin-block-start: 50px;
  width: 50%;

}
.counter-button:hover {
  background-color: #800000;
  color: #008000;
}
} */

/* iPAD, TABLETS SCREENS*/

@media (max-width: 786px) {
  body{
    background-color:#000080;
  }

  h1 {
    text-align: center;
    margin-block-end: 20px;
  }
  .counter-value{
    margin-block-start: 2px;
    color: #af6627;
  }

  .counter-container {
    width: 50%;
    height: 70%;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ADD8E6;
    box-shadow: 0 0 5px rgba( 0, 128, 0, 1);
  }

  .counter-button {
    width: 100px;
    margin-block-start: 30px;
    font-size: 16px;
    background-color:#4169E1;
    color: #FFD700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input{
    position: relative;
    top: 20px;
    background-color: white;
    border: none;
  } 
  .update{
    margin-block-start: 40px;
    width: 50%;
  }
  .counter-button:hover {
    background-color:#FFD700;
    color: #4169E1;
  }
} 

/* LAPTOS */
@media (min-width: 787px) and (max-width:900px) {
  body{
    background: #006400;
    color: white;
    height:100vh;
  }
  h1 {
    text-align: center;
    margin-block-end: 10px;
  }
  .counter-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #90EE90;
    width: 70%;
  }
  .counter-value {
    color: #800000;
    position: relative;
    top: -40px;
    left: -10%;
    font-size: 20px;
  }
  .update{
    margin-block-start: 5px;
    width: 20%;
    position: fixed;
    right: 38%;
    height: 10%;
  }
  input{
    display: block;
    height: 60px;
    margin-inline-start: 31%;
    position: absolute;    
  }
  .counter-button {
    margin-block-end: 20px;
    background-color:#008000;
    color: #800000;
  }
  .counter-button:hover {
    background-color: #800000;
    color: #008000;
  }
 .errorstage{
  margin-left: 45%;
  height: 10%;
 }
}

